@charset "UTF-8";
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
  font-size: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#nav_title {
    color: darkblue;
}

#nav_menu {
    display: flex;
    list-style: none;
}

.nav_menu_content {
    background: #cfc4f2;
    color: #292929;
    text-decoration: none;
    margin: 2.5px;
    padding: 10px 30px;
    border-radius: 5px;
}
.first_content {
    text-align:center
}